:root {
    --rainbow: linear-gradient(
        to right, 
        #FF69B4,
        #00FFFF,
        yellow,
        #9370DB
    ); 
}
body {
    background-color: pink; /* Vert Windows classique */
    /* font-family: "MS Sans Serif", "Arial", sans-serif; */
    display: flex;
    justify-content: center;
    align-items: center;

    margin:0;
    width: 100vw;
    height: 100%;
    min-height: 100vh;

    background-image: url("/assets/images/background.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}
#main-container {
    width: 90rem;
    height: 90vh;
    /* border: 5px double pink; */
    box-shadow: rgba(255, 255, 255, 1) 0px 5px 15px;

    background: rgba(255, 236, 255, 0.637);
    backdrop-filter: blur(10px);
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--rainbow)
}
header img {
    height: 150px;
}
.poudra-marquee {
    background: #000;
    color: #7FFF00;
    font-family: "Courier New", monospace;
    font-weight: bold;
    padding: 5px 0;
}

#navbar {
    width: 100%;
    background-color: rgb(253, 239, 242);
}
#navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
#navbar ul li {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

    padding: 5px;
    border: 2px dashed transparent;
}
#navbar ul a {
    color: black;
    text-decoration: none;
    width: 100%;
    height: 100%;

    font-weight: 600;
}
#navbar ul li:has(a:hover) {
    background-color: #ffa8ff !important;
    border: 2px dashed #00FFFF;
}