#tutorial-container {
    background:var(--purple);
    padding: 1rem;
}
#tutorial-container h2 {
    text-transform: uppercase;
    text-align: center;
}
#tutorial-steps-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.tutorial-container-step {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
}
.tutorial-container-step img {
    height: 10rem;
}
.tutorial-container-step p {
    margin: 5px;
}
.tutorial-container-step-title {
    font-weight: 600;
    font-size: 1.1rem;
}
.tutorial-container-step-subtitle {
    color: grey;
}