<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POUDRA-POP</title>
    <link rel="stylesheet" href="/assets/css/home.css">
</head>
<body>
    <main id="main-container">
        <header>
            <img alt="POUDRA-POP logo" src="/assets/images/logo-ours.png">
        </header>
    </main>
</body>
</html>