<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POUDRA-POP</title>
    
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/home.css">

    <!-- Analytics poudra-pop -->
    <script async="" defer="" src="https://analytics.msallon.org/script.js" data-website-id="352f4853-e053-484f-9d0a-44a2bc88d212" data-domains="poudra-pop.msallon.org"></script>
</head>
<body>
    <main id="main-container">
        <header>
            <img alt="POUDRA-POP logo" src="/assets/images/logo-ours.png">
        </header>
        <marquee scrollamount="10" direction="left" class="poudra-marquee">🌈🍬🍭 POUDRA-POP !!! POUDRA-POP !!! POUDRA-POP !!! 🍭🍬🌈  ACHÈTE TON KIT "OURS HIBERNATUS" ET RESTE ÉVEILLÉ JUSQU'EN 2028 !!! ✨ NE PAS RENIFLER LA POUDRE (WINK WINK) ! 🧸🔥 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🌈🍬🍭 POUDRA-POP !!! POUDRA-POP !!! POUDRA-POP !!! 🍭🍬🌈  ACHÈTE TON KIT "OURS HIBERNATUS" ET RESTE ÉVEILLÉ JUSQU'EN 2028 !!! ✨ NE PAS RENIFLER LA POUDRE (WINK WINK) ! 🧸🔥 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🌈🍬🍭 POUDRA-POP !!! POUDRA-POP !!! POUDRA-POP !!! 🍭🍬🌈  ACHÈTE TON KIT "OURS HIBERNATUS" ET RESTE ÉVEILLÉ JUSQU'EN 2028 !!! ✨ NE PAS RENIFLER LA POUDRE (WINK WINK) ! 🧸🔥 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</marquee>
        <nav id="navbar">
            <ul>
                <li><a href="/">🏠 Accueil</a></li>
                <li><a href="/catalogue">🍭 Catalogue</a></li>
                <li><a href="/cart">🛒 Panier</a></li>
                <li><a href="/login">👤 Compte</a></li>
            </ul>
        </nav>
        <div id="container">
            <div id="container-left">
                <h1>🔥🤪 Nos meilleures ventes HAHA 💸✨</h1>
                <div id="catalogue-container">
                    <div class="catalogue-item">
                        <div class="catalogue-item-thumbnail">
                            <div class="floor-wrapper">
                                <div class="poudra-floor"></div>
                            </div>
                            <img alt="Product thumbnail" src="/assets/images/products/Sours.webp">
                        </div>
                        <div class="card-body">
                            <h3 class="product-title">S-OURS</h3>
                            
                            <span class="product-tag">⚡ Goût Acide ⚡</span>
                        </div>

                        <div class="card-footer">
                            <div class="price-tag">12.99 €</div>
                            
                            <button class="btn-add-cart">
                                AJOUTER 🛒
                            </button>
                        </div>
                    </div>
                    <div class="catalogue-item">
                        <div class="catalogue-item-thumbnail">
                            <div class="floor-wrapper">
                                <div class="poudra-floor"></div>
                            </div>
                            <img alt="Product thumbnail" src="/assets/images/products/box-sucre-bonbons.webp">
                        </div>
                        <div class="card-body">
                            <h3 class="product-title">KIT - Sucre bonbons</h3>
                            
                            <span class="product-tag">⚡ Goût... bof ⚡</span>
                        </div>

                        <div class="card-footer">
                            <div class="price-tag">44.44 €</div>
                            
                            <button class="btn-add-cart">
                                AJOUTER 🛒
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="container-right">
                
            </div>
        </div>
    </main>
</body>
</html>