<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POUDRA-POP - LOGIN</title>

    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/login.css">

    <!-- Analytics poudra-pop -->
    <script async="" defer="" src="https://analytics.msallon.org/script.js" data-website-id="352f4853-e053-484f-9d0a-44a2bc88d212" data-domains="poudra-pop.msallon.org"></script>
</head>
<body>
    <main id="main-container">
        <header>
            <img alt="POUDRA-POP logo" src="/assets/images/logo-ours.png">
        </header>
        <marquee scrollamount="10" direction="left" class="poudra-marquee">🌈🍬🍭 POUDRA-POP !!! POUDRA-POP !!! POUDRA-POP !!! 🍭🍬🌈  ACHÈTE TON KIT "OURS HIBERNATUS" ET RESTE ÉVEILLÉ JUSQU'EN 2028 !!! ✨ NE PAS RENIFLER LA POUDRE (WINK WINK) ! 🧸🔥 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🌈🍬🍭 POUDRA-POP !!! POUDRA-POP !!! POUDRA-POP !!! 🍭🍬🌈  ACHÈTE TON KIT "OURS HIBERNATUS" ET RESTE ÉVEILLÉ JUSQU'EN 2028 !!! ✨ NE PAS RENIFLER LA POUDRE (WINK WINK) ! 🧸🔥 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🌈🍬🍭 POUDRA-POP !!! POUDRA-POP !!! POUDRA-POP !!! 🍭🍬🌈  ACHÈTE TON KIT "OURS HIBERNATUS" ET RESTE ÉVEILLÉ JUSQU'EN 2028 !!! ✨ NE PAS RENIFLER LA POUDRE (WINK WINK) ! 🧸🔥 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</marquee>
        <nav id="navbar">
            <ul>
                <li><a href="/">🏠 Accueil</a></li>
                <li><a href="/catalogue">🍭 Catalogue</a></li>
                <li><a href="/cart">🛒 Panier</a></li>
                <li><a href="/login">👤 Compte</a></li>
            </ul>
        </nav>
    </main>
    <div id="login-container" class="not-selectable-img">
        <img src="/assets/images/background-login.webp" alt="BACKGROUND LOGIN DE OUF MGL" id="casino-bag-login-debz">
        <div id="login-container-gears">
            <img src="/assets/images/red_gear.webp" alt="red gear" class="gears">
            <img src="/assets/images/red_gear.webp" alt="red gear" class="gears gears-blue">
            <img src="/assets/images/red_gear.webp" alt="red gear" class="gears gears-yellow">
            <div id="login-button">
                <a href="#"><img src="/assets/images/google-login-btn.webp" alt="google-login-btn"></a>
            </div>
        </div>
    </div>
</body>
</html>